In [1]:
import pandas as pd
import numpy as np

"""
ri = pd.read_csv('RI_cleaned.csv', nrows=50000)
drop_columns=["state", "county_name", "county_fips", "fine_grained_location"]
ri.drop(drop_columns, axis='columns', inplace=True)
ri.dropna(subset=['driver_gender'], inplace=True)
ri['is_arrested'] = ri.is_arrested.astype('bool')
combined = ri.stop_date.str.cat(ri.stop_time, sep=' ')
ri['stop_datetime'] = pd.to_datetime(combined)
ri.drop(["stop_date", "stop_time"], axis='columns', inplace=True)
ri.set_index('stop_datetime', inplace=True)
"""

'\nri = pd.read_csv(\'RI_cleaned.csv\', nrows=50000)\ndrop_columns=["state", "county_name", "county_fips", "fine_grained_location"]\nri.drop(drop_columns, axis=\'columns\', inplace=True)\nri.dropna(subset=[\'driver_gender\'], inplace=True)\nri[\'is_arrested\'] = ri.is_arrested.astype(\'bool\')\ncombined = ri.stop_date.str.cat(ri.stop_time, sep=\' \')\nri[\'stop_datetime\'] = pd.to_datetime(combined)\nri.drop(["stop_date", "stop_time"], axis=\'columns\', inplace=True)\nri.set_index(\'stop_datetime\', inplace=True)\n'

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

I've laready did

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [6]:
ri = pd.read_csv("RI_cleaned_2.csv",index_col=0)

C:\Users\Ra\OneDrive\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
ri.head()

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,Other,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [8]:
ri.violation.value_counts(dropna = False)

Speeding               36111
Moving violation        6522
Equipment               3022
Registration/plates     1463
Other                    892
Name: violation, dtype: int64

In [9]:
ri.violation.value_counts(normalize=True)

# normalize ettiğimizde tüm değerler -1 ile 1 arasında normalize oluyor. ama asıl değeri korunuyor. (normalize değeri mesela 0.989456 oluyor ama gerçek değeri 18000)

Speeding               0.752156
Moving violation       0.135847
Equipment              0.062945
Registration/plates    0.030473
Other                  0.018579
Name: violation, dtype: float64

yukarda normalize edilmiş bilgilere bakarsak en çok hız ihlali yapılmış. sonra violation moving ihlali yapılmış.

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [10]:
ri.driver_gender.value_counts()

M    34701
F    13309
Name: driver_gender, dtype: int64

In [11]:
female = ri[ri.driver_gender == "F"]

# ri dataframe'inden driver_gender'ı F olanları filtreleyip ayrı bir dataframe yaptım ve bunu "female değişkenine tanımladım.
# yani burda female bir DataFrame dir.

In [12]:
female.head(2)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,Zone X3,200,F,1983.0,22.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,Zone K3,300,F,1984.0,21.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [13]:
male = ri[ri.driver_gender == "M"]

# ri dataframe'inden driver_gender'ı M olanları filtreleyip ayrı bir dataframe yaptım ve bunu "male" değişkenine tanımladım.
# yani burda "male" bir DataFrame dir.

In [14]:
male.head(2)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

In [14]:
male.violation.value_counts() / male.violation.value_counts().sum()

Speeding               0.729518
Moving violation       0.149967
Equipment              0.069595
Registration/plates    0.031584
Other                  0.019337
Name: violation, dtype: float64

In [15]:
male.violation.value_counts(normalize = True)

# male.violation yaptıktan sonra artık bu bir serie dir. 
# value_counts --> serie'nin bir özelliğidir ve onu kullandık.

Speeding               0.729518
Moving violation       0.149967
Equipment              0.069595
Registration/plates    0.031584
Other                  0.019337
Name: violation, dtype: float64

In [16]:
female.violation.value_counts(normalize = True)

Speeding               0.811180
Moving violation       0.099031
Equipment              0.045608
Registration/plates    0.027575
Other                  0.016605
Name: violation, dtype: float64

normalize edilmiş yukardaki verileri incelediğimizde kadınların erkeklerden daha fazla hız ihlali yaptığı, erkeklerin de daha fazla makas attığı görülüyor.

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

Citation burda ticket yani ceza.. bunu bilmem lazım ki benden isteneni anlayabileyim.

In [17]:
female_and_speeding = ri[(ri.driver_gender == "F") & (ri.violation == "Speeding")]

# hem female olanları hem de violationı sadece speeding olanları getir.
# artık female_and_speeding bu bilgilerden oluşan satırları getirir.

In [18]:
female_and_speeding.head()

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,Zone X3,200,F,1983.0,22.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,Zone K3,300,F,1984.0,21.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2005-03-29 23:20:00,RI-2005-00026,Zone K3,300,F,1971.0,34.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-06-06 13:20:00,RI-2005-00035,Zone X4,500,F,1986.0,19.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-07-06 11:22:00,RI-2005-00038,Zone X1,0,F,1973.0,32.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X1

In [19]:
male_and_speeding = ri[(ri.driver_gender == "M") & (ri.violation == "Speeding")]

# şimdi de aynı filtrelemeyi erkekler için yapalım

In [20]:
male_and_speeding.head()

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-18 08:15:00,RI-2005-00007,Zone K3,300,M,1965.0,40.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-01-23 23:15:00,RI-2005-00009,Zone K3,300,M,1972.0,33.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-01-24 20:32:00,RI-2005-00010,Zone K1,600,M,1987.0,18.0,W,White,Speeding,Speeding,True,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1

In [21]:
female_and_speeding.stop_outcome.value_counts(normalize=True)

# female_and_speeding dataframe'inde stop_outcome verilerinin her birinin sayılarını normalize ederek getir
# ki oranına bakayım..

# böylece kadın sürücülerden hız ihlali yapanlarA durdurulduklarında uygulanan işlemlerin yüzdesini görebiliyorum.

Citation            0.973416
Warning             0.012968
Arrest Driver       0.007410
N/D                 0.003612
Arrest Passenger    0.002316
No Action           0.000278
Name: stop_outcome, dtype: float64

In [22]:
male_and_speeding.stop_outcome.value_counts(normalize=True)

# böylece erkek sürücülerden hız ihlali yapanlarA durdurulduklarında uygulanan işlemlerin yüzdesini görebiliyorum.

Citation            0.957298
Arrest Driver       0.026230
Warning             0.010666
N/D                 0.003397
Arrest Passenger    0.002015
No Action           0.000395
Name: stop_outcome, dtype: float64

erkekler %95 oranında, kadınlar ise %95 oranında ticket (ceza) almış.

erkekleri kadınlara göre daha fazla oranda tutuklamışlar.

In [23]:
# böyle de yapabiliriz çünkü önceden datasetimin gender'ı F olanlar diye filtreleyip ayrı bir dataframe oluşturup "female"i ona tanımlamıştık.:


female[female['violation'] == 'Speeding'].stop_outcome.value_counts(normalize=True)

# böylece kadın sürücülerden hız ihlali yapanlarA durdurulduklarında uygulanan işlemlerin yüzdesini görebiliyorum.

Citation            0.973416
Warning             0.012968
Arrest Driver       0.007410
N/D                 0.003612
Arrest Passenger    0.002316
No Action           0.000278
Name: stop_outcome, dtype: float64

In [24]:
# aynı şekilde male de önceden tanımlandığı için onun ["violation"] sütununun speeding olanlarını çekip ona stop_outcome.value_count uygulayabilirim.

male[male["violation"] == "Speeding"].stop_outcome.value_counts(normalize=True)

# böylece erkek sürücülerden hız ihlali yapanlarA durdurulduklarında uygulanan işlemlerin yüzdesini görebiliyorum.

Citation            0.957298
Arrest Driver       0.026230
Warning             0.010666
N/D                 0.003397
Arrest Passenger    0.002015
No Action           0.000395
Name: stop_outcome, dtype: float64

In [25]:
ri.search_conducted.dtype

# tipine baktığımızda bu özellik (arama yapılması) boolean veri imiş.

dtype('bool')

In [26]:
ri.search_conducted.value_counts(normalize=True)

# büyük oranda arama yapılmamış.

False    0.958092
True     0.041908
Name: search_conducted, dtype: float64

In [27]:
ri.search_conducted.mean()

# böyle yaptığımda da True ile aynı sonucu alırım. çünkü normalize ettiğimde aslında yüzdesini alıyorum

0.04190793584669861

!!! normalize mantığı şunla aynıdır:

male.violation.value_counts(normalize = True)
male.violation.value_counts() / male.violation.value_counts().sum()

ya da :

for i in unique_vol:
    print(i / unique_amount * 100)

In [28]:
male.violation.value_counts(normalize = True)

# male.violation yaptıktan sonra artık bu bir serie dir. 
# value_counts --> serie'nin bir özelliğidir ve onu kullandık.

Speeding               0.729518
Moving violation       0.149967
Equipment              0.069595
Registration/plates    0.031584
Other                  0.019337
Name: violation, dtype: float64

In [29]:
female.violation.value_counts(normalize = True)

Speeding               0.811180
Moving violation       0.099031
Equipment              0.045608
Registration/plates    0.027575
Other                  0.016605
Name: violation, dtype: float64

normalize edilmiş yukardaki verileri incelediğimizde kadınların erkeklerden daha fazla hız ihlali yaptığı, erkeklerin de daha fazla makas attığı görülüyor.

In [ ]:
""""""

In [30]:
female.search_conducted.mean()

# kadınların yüzde 1.7 sinin arandığını görüyoruz

0.017807498685100308

In [31]:
male.search_conducted.mean()

# erkeklerin %5 i aranmış

0.05115126365234431

In [32]:
ri.driver_gender.unique()

# .unique ile np seriesi elde ettik. içinde M ve F harflerini içeriyormuş.

# groupby yaptığımızda (unique değerler) M ve F olarak gruplayacak.

array(['M', 'F'], dtype=object)

In [33]:
ri.groupby("driver_gender")  # bunu anlamlı hale getirmemiz için yanına aggregatiton functionları kullanmamız lazım.

# satırlar üzerinde çalışacağım, axis = 0

In [34]:
# bu bir dataframe object olduğu için bunun sütun indekslemesini yapabilirim.

ri.groupby("driver_gender").search_conducted.mean()  # female ve male lerin ayrı ayrı search_conducted (arama yapılması) durumlarının ortalamasını aldım.

driver_gender
F    0.017807
M    0.051151
Name: search_conducted, dtype: float64

gender ile violation ı gruplandır ve arama yapılıp yapılmadığını bul.

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [35]:
ri.search_conducted.dtype

dtype('bool')

In [36]:
ri.search_conducted.value_counts(normalize = True)

False    0.958092
True     0.041908
Name: search_conducted, dtype: float64

In [37]:
ri.search_conducted.mean()

0.04190793584669861

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [38]:
female.search_conducted.mean()

0.017807498685100308

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [39]:
male.search_conducted.mean()

0.05115126365234431

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [40]:
ri.groupby(ri.driver_gender)["search_conducted"].sum()

driver_gender
F     237
M    1775
Name: search_conducted, dtype: int64

In [41]:
ri.groupby("driver_gender")["search_conducted"].mean()

driver_gender
F    0.017807
M    0.051151
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [42]:
ri.violation.unique()

# ihlallerim bunlar

array(['Speeding', 'Equipment', 'Other', 'Moving violation',
       'Registration/plates'], dtype=object)

In [43]:
ri.groupby(["driver_gender", "violation"]).search_conducted.mean()

# önce male ve female olarak sonra da violation olarak grupluyor
# ve search_conducted durumlarının ortalamalarına bakıyorum.

driver_gender  violation
F              Equipment              0.079077
               Moving violation       0.047800
               Other                  0.045249
               Registration/plates    0.114441
               Speeding               0.006854
M              Equipment              0.123395
               Moving violation       0.088778
               Other                  0.154993
               Registration/plates    0.171533
               Speeding               0.028560
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [44]:
# eğer gruplandırmada sıralamayı değiştirirsek:

ri.groupby(["violation", "driver_gender"]).search_conducted.mean()


# birinci şekli göze daha düzenli gözüküyordu. bunu beğenmedim :D

violation            driver_gender
Equipment            F                0.079077
                     M                0.123395
Moving violation     F                0.047800
                     M                0.088778
Other                F                0.045249
                     M                0.154993
Registration/plates  F                0.114441
                     M                0.171533
Speeding             F                0.006854
                     M                0.028560
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

Tek arama türünün kaç kez "Koruyucu Frisk" olduğunu görmek için search_type değerlerini sayın.

In [45]:
ri.search_type.value_counts()

# value counts'u görüp yorum yapabilmem için kullandım.

Incident to Arrest                                          958
Probable Cause                                              244
Protective Frisk                                            204
Inventory                                                   117
Incident to Arrest,Inventory                                116
Incident to Arrest,Probable Cause                            76
Incident to Arrest,Protective Frisk                          63
Reasonable Suspicion                                         43
Probable Cause,Protective Frisk                              36
Incident to Arrest,Inventory,Protective Frisk                33
Inventory,Protective Frisk                                   23
Incident to Arrest,Probable Cause,Protective Frisk           20
Incident to Arrest,Inventory,Probable Cause                  19
Protective Frisk,Reasonable Suspicion                        16
Inventory,Probable Cause                                     16
Probable Cause,Reasonable Suspicion                          12
Incident to Arrest,Reasonable Suspicion                       5
Probable Cause,Protective Frisk,Reasonable Suspicion          5
Inventory,Probable Cause,Protective Frisk                     2
Incident to Arrest,Probable Cause,Reasonable Suspicion        1
Incident to Arrest,Protective Frisk,Reasonable Suspicion      1
Inventory,Reasonable Suspicion                                1
Incident to Arrest,Inventory,Reasonable Suspicion             1
Name: search_type, dtype: int64

In [46]:
ri[ri.search_type == "Protective Frisk"].head(2)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-10-06 21:35:00,RI-2005-01027,Zone X4,500,M,1966.0,39.0,W,White,Speeding,Speeding,True,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,False,False,Zone X4
2005-10-07 11:33:00,RI-2005-01121,Zone X4,900,M,1980.0,25.0,W,White,Equipment/Inspection Violation,Equipment,True,Terry Frisk,Protective Frisk,False,Arrest Driver,True,16-30 Min,False,False,Zone X4

In [47]:
ri["frisk"] = ri.search_type.str.contains("Protective Frisk", na = False) # sorguluyorum: içinde Protective Frisk  geçen her sütuna True ya da False vuracak.

# frisk diye bir yeni sütun oluşturdum (pandas series oldu). buna bir seri yollamam lazım ve uzunluğu dataframe'imim uzunluğu kadar olmalı. 50 bin ise 50 bin satır

# search_type sütununda string var mı yok mu? sorgulamamı istiyor.

# o yüzden burada bir str özelliğini kullanacağım (contains).

In [48]:
ri.head()

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,False
2005-01-04 12:55:00,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,False
2005-01-06 01:30:00,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,False
2005-01-12 08:05:00,RI-2005-00006,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,Other,...,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1,False

In [49]:
ri.frisk.value_counts()

# içinde Protective Frisk geçen 403 tane değer varmış.

False    47607
True       403
Name: frisk, dtype: int64

In [50]:
# bir de bu filtrelemeyi .isin() metodu ile deneyelim.

ri.search_type.isin(["Protective Frisk"]).mean()

0.004249114767756718

In [51]:
ri.search_type.isin(["Protective Frisk"]).sum()

# ha demek ki sadece Protective Frisk başlığına sahip olanları aldı. bu işimi görmez.

204

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [52]:
ri.search_conducted

# bu, True ve Falselardan oluşan bir serie. bunu ri'nin içine gönderirsem. bunlardan True olanların karşılığına gelen satırlardan bir dataframe oluşturmuş oluyorum.

stop_datetime
2005-01-02 01:55:00    False
2005-01-02 20:30:00    False
2005-01-04 12:55:00    False
2005-01-06 01:30:00    False
2005-01-12 08:05:00    False
                       ...
2006-08-08 22:45:00    False
2006-08-08 22:45:00    False
2006-08-08 22:53:00    False
2006-08-08 23:00:00    False
2006-08-08 23:00:00    False
Name: search_conducted, Length: 48010, dtype: bool

In [53]:
searched = ri[ri.search_conducted] 

# ri.search_conducted, True ve Falselardan oluşan ve ri'nin satır sayısında bir seriedir.

# bu serie yi ri'nin içine verdiğimde Trueları seçen yeni bir dataframe yapmış oldum.

In [54]:
searched.head()

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-24 20:32:00,RI-2005-00010,Zone K1,600,M,1987.0,18.0,W,White,Speeding,Speeding,...,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1,False
2005-02-09 03:05:00,RI-2005-00011,Zone X4,500,M,1976.0,29.0,W,White,Registration Violation,Registration/plates,...,"Probable Cause,Terry Frisk","Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4,True
2005-08-28 01:00:00,RI-2005-00084,Zone X1,0,M,1979.0,26.0,W,White,Other Traffic Violation,Moving violation,...,"Incident to Arrest,Terry Frisk","Incident to Arrest,Protective Frisk",False,Arrest Driver,True,16-30 Min,True,False,Zone X1,True
2005-09-15 02:20:00,RI-2005-00094,Zone X4,500,M,1988.0,17.0,W,White,Other Traffic Violation,Moving violation,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone X4,False
2005-09-24 02:20:00,RI-2005-00115,Zone K3,300,M,1987.0,18.0,W,White,Other Traffic Violation,Moving violation,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone K3,False

In [55]:
searched.frisk.mean()

0.20029821073558648

In [56]:
# cinsiyete göre groupby yapalım ve frisk yapılmış mı yapılmamış mı onu görelim

searched.groupby("driver_gender").frisk.mean()

# frisk yapılanların yüzde 16sı kadın, yüzde 20 si erkekmiş

driver_gender
F    0.164557
M    0.205070
Name: frisk, dtype: float64